h2 {
    font-family:arial;
}

form {
    display: inline-block;
}

.list {
	font-family:"Trebuchet MS";
    font-size:20px;
	color:#000000;
    cursor:pointer;
}
.input-item{
    margin: 20px;
    height: 38px;
    width: 200px;
}
.remove-btn{
    margin: 10px;
    height: 38px;
    background-color: red;
    color: white;
}
.tittle {
    margin-left: 46px;
}
.item-top{
    margin-top: 20px;
}