<div class="container">
        <div class="row">
            <div class="col-sm-6 offset-sm-4">
                <h3 class="tittle">Add Delete Items</h3>
                <form name="checkListForm" (submit)="addItem($event)">
                        <input [(ngModel)]="newItem" class='input-item' name="newItem" placeholder="Add Item...">
                        <button  id="add" class="btn btn-info" type="submit" >Add Item</button>
                </form>
                 <br/><br/>
                </div>
            </div>
            <div class="row">
                    <div class="col-sm-6 offset-sm-4">
                <div class="list">
                        <ul>
                            <li *ngFor="let item of items; let i=index">
                                <div class="row">
                                <div class="col-sm-4 item-top"> {{item.newItem}} </div>
                                <div class="col-sm-4"><button type="button" id="clear" (click)="deleteItem(i)"  class="btn btn-default remove-btn">Remove Item</button>
                                 </div>
                                </div>
                                 </li>
                            </ul>
                </div>
                </div>
           
            <div class="col-md-4"></div>
        </div>
    </div>