<div class="container-fluid">
        <div class="row">
                <div class="col-sm-4 offset-sm-2">
                        <form name="checkListForm" (submit)="addItem($event)">
                                <input [(ngModel)]="todoItem" class='input-item' name="todoItem" placeholder="Add todo user list...">
                                <button  id="add" class="btn btn-info" type="submit" >Add to user list</button>
                        </form>
                         <br/><br/>
                    <div class="list">
                    <ul>
                        <li *ngFor="let item of todo; let i=index">
                            <div class="row">
                            <div class="col-sm-4 item-top"> {{item}} </div>
                            <div class="col-sm-4"><button type="button" id="clear" (click)="deleteItem(i)"  class="btn btn-default remove-btn">Remove from user list</button>
                             </div>
                            </div>
                             </li>
                        </ul>
            </div>
            </div>
            <div class="row justify-content-center">
                    <div class="example-container ">
                        <h2 class="text-center">User List</h2>
                        <div cdkDropList
                             #todoList="cdkDropList"
                             [cdkDropListData]="todo"
                             [cdkDropListConnectedTo]="[likeList, dislikeList, notinterestedList]"
                             class="example-list userlist"
                             (cdkDropListDropped)="drop($event)">
                            <div class="example-box" *ngFor="let item of todo" cdkDrag>{{item}}</div>
                        </div>
                    </div>
                </div>
        <div class="col-md-4"></div>
    </div>
    
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <div class="example-container ">
                <h2 class="text-center">Like</h2>

                <div cdkDropList
                     #likeList="cdkDropList"
                     [cdkDropListData]="like"
                     [cdkDropListConnectedTo]="[todoList, dislikeList, notinterestedList]"
                     class="example-list like"
                     (cdkDropListDropped)="drop($event)">
                    <div class="example-box" *ngFor="let item of like" cdkDrag>{{item}}</div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <div class="example-container ">
                <h2 class="text-center">Dislike</h2>

                <div cdkDropList
                     #dislikeList="cdkDropList"
                     [cdkDropListData]="dislike"
                     [cdkDropListConnectedTo]="[todoList, likeList, notinterestedList]"
                     class="example-list dislike"
                     (cdkDropListDropped)="drop($event)">
                    <div class="example-box" *ngFor="let item of dislike" cdkDrag>{{item}}</div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <div class="example-container ">
                <h2 class="text-center">Not Interested</h2>

                <div cdkDropList
                     #notinterestedList="cdkDropList"
                     [cdkDropListData]="notinterested"
                     [cdkDropListConnectedTo]="[todoList, likeList, dislikeList]"
                     class="example-list notinterested"
                     (cdkDropListDropped)="drop($event)">
                    <div class="example-box" *ngFor="let item of notinterested" cdkDrag>{{item}}</div>
                </div>
            </div>
        </div>
    </div>
</div>

