<!--The content below is only a placeholder and can be replaced.-->

<div class="container">
    <div class="jumbotron">
    <div class="col-sm-6 offset-sm-4 tittle">
    Angular assignment
    </div>
    <div class="container">
            <div class="col-sm-6 offset-sm-3">
                <alert></alert>
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>

<router-outlet></router-outlet>