
<div class="container">
	<div class="row news-title">
		<h2 class="news-tittle">{{title}}</h2>
	</div>
	
	<div class="block">
      <div class="row">
        <div class="span4">
          <img class="img-left" src={{urlToImage}}/>
          <div class="content-heading publishedAt">Published on: {{publishedAt | date: 'dd/MM/yyyy'}}</div>
          <p class="description">{{description}}</p>
          </div>
     </div>
  </div>
  </div>
  