.span4 img {
    margin-right: 10px;
    margin-top: 50px;
}
.span4 .img-left {
    float: left;
    width: 500px;
    height: auto;
}
.span4 .img-right {
    float: right;
}
.news-title{
    margin-right: 10px;
    margin-top: 50px;
}
.content-heading{
    font-size: 20px;
    margin-left: 10px;
    margin-top: 50px;
    font-weight: 600;
}
.description{
    font-size: 18px;
    margin-left: 10px;
    margin-top: 30px;
    font-weight: 400;
}
.news-tittle{
    color: red;
}
.publishedAt{
    color: blue;
}