.basic-container {
  padding: 30px;
}

.version-info {
  font-size: 8pt;
  float: right;
}
.teamA{
    color: blue;
}
.teamB{
    color: red;
}
.item{
    font-size: 20px;
    font-weight: 500;
}
 .cdk-overlay-backdrop .cdk-overlay-transparent-backdrop .cdk-overlay-backdrop-showing{
    margin-top: -20vh !important;
    margin-left: 25vw !important;
    
}