<div class="row">
        <div class="col-sm-6 offset-sm-2">
<h4>Right-click on the Palyers below to select to Team A and Team B:</h4>
        <mat-list>
            <mat-list-item *ngFor="let item of items" (contextmenu)="onContextMenu($event, item)">
                <span class="item">{{ item.name }}</span>
            </mat-list-item>
        </mat-list>
    </div>
</div>
<div style="visibility: hidden; position: fixed"
[style.left]="contextMenuPosition.x"
[style.top]="contextMenuPosition.y"
[matMenuTriggerFor]="contextMenu">
        </div>
        <mat-menu #contextMenu="matMenu">
            <ng-template matMenuContent let-item="item">
                <button mat-menu-item (click)="onContextMenuAction1(item)">Team A</button>
                <button mat-menu-item (click)="onContextMenuAction2(item)">Team B</button>
            </ng-template>
        </mat-menu>
      
        <div class="row">
                <div class="col-sm-4 offset-sm-2">
 <ul class="teamA" >
   <h3>Team A</h3>
     <li *ngFor="let item of teamA; let i=index">                   
       <div class="col-sm-4 item-top"> {{item}} </div>
     </li>
  </ul>
   </div>
    <div class="col-sm-4 offset-sm-2">
   <ul class="teamB" >
      <h3>Team B</h3>
     <li *ngFor="let item of teamB; let i=index">
                          
                            <div class="col-sm-4 item-top"> {{item}} </div>
     </li>
  </ul>
  </div>
 </div>