
<div class="container">
<div class="row">
<div class="col-md-12 col-md-offset-2">
<kendo-grid
[kendoGridBinding]="gridView"
[pageSize]="pageSize"
[pageable]="true"
[sortable]="true"
[filterable]="true"
[groupable]="true"
[height]="600"
[loading]="loading"
>
<kendo-grid-column title="Author" field="author">
  <ng-template kendoGridCellTemplate let-dataItem>
      <div class="author">
          <a [routerLink]="['/news', {'author':dataItem.author,
           'title':dataItem.title, 'url':dataItem.url, 'urlToImage':dataItem.urlToImage,
            'publishedAt':dataItem.publishedAt,
            'description':dataItem.description}]">
           &nbsp;&nbsp;{{dataItem.author}}</a>
      </div>
  </ng-template>
</kendo-grid-column>
<kendo-grid-column
*ngFor="let column of columnsForNewGrid"
field="{{column.field}}"
title="{{column.title}}"
format="{{column.format}}"
filter="{{column.type}}"
></kendo-grid-column>
</kendo-grid>
</div>
<div class="row">
        <div class="col-sm-4">
                <a [routerLink]="['/dragdrop']" class="btn btn-primary btn-md">Drog Drop Component </a>
        </div>
        <div class="col-sm-4">
                 <a [routerLink]="['/adddelete']" class="btn btn-primary btn-md">Add/Remove Item Component </a>
        </div>
        <div class="col-sm-4">
                <a [routerLink]="['/contextmenu']" class="btn btn-primary btn-md">Context Menu Component </a>
       </div>
</div>
</div>
</div>