a {
    color:blue;
    font-weight: 500;
    text-decoration: none;
    border-bottom: 1px solid blue;
}
.drag-drop-link{
margin-top: 20px;
}
.btn-md{
    color: black; 
}
.btn-md:hover{
    color: white; 
}
.btn-left{
    margin-left: 20px;
}